/* Gitas main.css - 2018 Obarey Inc. */


/* common styles */

.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-box-border: transparent;
    -fx-padding:0;

}


.scroll-pane {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-box-border: transparent;
    -fx-background-color: transparent;
}
.scroll-pane > .viewport {
    -fx-box-border: transparent;
    -fx-background-color: transparent;
}
.main-bg-color {
    -fx-background-color: #302e2e;
}

.button {
    -fx-cursor:hand;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
}
.text{
    -fx-font-smoothing-type: gray;
}
.label {
    -fx-font-smoothing-type: gray;
    -fx-font-weight:bold;
}



.ctext-white {
    -fx-text-fill:#fff;
}
.ctext-gray1 {
    -fx-text-fill: #a2a2a2;
}
.ctext-gitas {
    -fx-text-fill:#a754bb;
}
.ctext-yellow {
    -fx-text-fill: #ffd835;
}

.ctext-danger {
    -fx-text-fill: #ef2906;
}
.ctext-h2 {
     -fx-font-size:25;
 }
.ctext-h3 {
    -fx-font-size:20;
}
.ctext-h4 {
    -fx-font-size:15;
}
.ctext-small {
    -fx-font-size:9;
}


.content-btn {
    -fx-font-weight:bold;
    -fx-padding:5 10 5 10;
    -fx-border-radius:4;

}

.content-btn-default {
    -fx-background-color: #505c72;
    -fx-border-color: #3c4257;
    -fx-text-fill:#d3d3d3;
}
.content-btn-success {
    -fx-background-color: #29b95d;
    -fx-border-color: #1e773c;
    -fx-text-fill:#d3d3d3;
}

.content-btn-warning {
    -fx-background-color: #ffd835;
    -fx-border-color: #ffc668;
    -fx-text-fill: #626127;
    -jfx-rippler-fill:#ff0000;
}

.content-btn-danger {
    -fx-background-color: #d82806;
    -fx-border-color: #981f06;
    -fx-text-fill:#d3d3d3;
}

.content-btn-info {
    -fx-background-color: #48bdd8;
    -fx-border-color: #559fd8;
    -fx-text-fill:#fff;
}

.content-btn-gitas {
    -fx-background-color: #6f4283;
    -fx-border-color: #734887;
    -fx-text-fill:#fff;
}


.content-btn-icon {
    -fx-fill: #f1f1f1;
}

.content-btn-icon-warning {
    -fx-fill: #626127;
}

.popup-form-container {
    -fx-background-color: #232222;
}
.popup-form-title-icon {
    -fx-fill: #7b3275;
}
.popup-form-title {
    -fx-text-fill: #7c7c7c;
    -fx-font-size:18;
    -fx-padding:10 0 10 10;
}
.popup-form-output {
    -fx-font-weight:bold;
    -fx-font-size:12;
}
.popup-form-output-error {
    -fx-text-fill: #d33100;
}
.popup-form-output-success {
    -fx-text-fill: #2dd327;
}

.jfx-combo-box .text{
    -fx-fill: #b8b1b1;
}


.text-field-popup-style {
    -fx-text-fill:#b8b1b1;
    -jfx-focus-color:#a754bb;
    -jfx-unfocus-color: #6a497b;
    -fx-prompt-text-fill: #b8b1b1;
    -fx-font-weight: bold;
}

.popup-sub-title {
    -fx-font-weight:bold;
    -fx-font-size:10;
}

.popup-sub-title-yellow {
    -fx-text-fill:#d8c91f;
}

.date-picker {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-box-border: transparent;
    -fx-background-color:transparent;
    -fx-border-color:transparent;
}

.date-picker > .text-field {
    -fx-background-color:transparent;
    -fx-border-width: 0 0 2 0;
    -fx-border-color:#7b3275;
    -fx-text-fill:#f7f7f7;
    -fx-font-weight:bold;
}
.date-picker > .button {

}

.date-picker-popup > * > .spinner > .label {
    -fx-text-fill:#000;
    -fx-font-size:13;
}
.date-picker-popup > * > .today,
.date-picker-popup > * > .day-cell:hover {
    -fx-background-color:#7b3275;
    -fx-text-fill:#f7f7f7;
}


/* side bar styles */
.sidebar{
    /*-fx-background-color: rgb(58,69,88);*/
    -fx-background-color: #7b3275;
}
.sidebar-user-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
}

.sidebar-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
    -fx-cursor:hand;
}
.sidebar-btn:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
    -fx-border-color: #a754bb;
    -fx-border-width: 0px 0px 0px 3px;
}

.sidebar-btn:pressed .label{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #a754bb;
}
.sidebar-btn:pressed .sidebar-btn-icon{
    -fx-fill: #a754bb;
}
.sidebar-btn-icon{
    -fx-fill: #b8b1b1;
}

/* top menu bar styles */
.menu-bar-container {
   /* -fx-background-color: rgb(66, 78, 99);*/
    -fx-background-color: #683062;
}
.menu-bar-btns{
    -fx-background-color: #e5e5e5;
    -fx-border-color: #313131;
    -fx-border-width: 0px 0px 0px 1px;

}
.menu-bar-btns:hover{
    -fx-background-color: #a754bb;
}
.menu-bar-btns-icon{
    -fx-fill: #313131;
}
.menu-bar-btns:hover .menu-bar-btns-icon{
    -fx-fill: #fff;
}

/* content scroll pane styles  */
.content-main-parent-vbox{
    -fx-background-color: #302e2e;
}
.content-main{
    -fx-background-color: #302e2e;
}
.content-header {
    -fx-font-size:20;
    -fx-text-fill: #808fa8;
    -fx-padding:10 0 10 10;
}

/* employee box */

.emp-box {
    -fx-background-color:#302e2e;

}

.emp-box-group-label{
    -fx-font-size:12;
    -fx-text-fill: #a6a6a6;
    -fx-font-weight:bold;
}


.emp-box-title {
    -fx-text-fill: #fff;
    -fx-font-size:12;
    -fx-font-weight:bold;
}

.emp-box-task-count-label{
    -fx-text-fill: #313131;
    -fx-font-size:15;
    -fx-font-weight:bold;
}


.emp-box-header {

    -fx-background-radius: 0 5 0 5;
}
.emp-box-header-container{
    -fx-background-color:transparent;
}

.emp-box-middle-section {
    /*-fx-background-color: #242424;*/
    /*-fx-background-color: transparent;*/

    -fx-background-radius: 5 0 5 5;
}

.emp-box-red .emp-box-middle-section{
    -fx-background-color:   linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
                            linear-gradient(#20262b, #191d22),
                            radial-gradient(center 50% 0%, radius 100%, rgba(131,29,51,0.9), rgba(255,255,255,0));
}
.emp-box-red .emp-box-header {
    -fx-background-color:rgba(131,29,51,0.9);
}

.emp-box-green .emp-box-middle-section{
    -fx-background-color:   linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(60,117,79,0.9), rgba(255,255,255,0));
}
.emp-box-green .emp-box-header {
    -fx-background-color:rgba(60,117,79,0.9);
}

.emp-box-default .emp-box-middle-section{
    -fx-background-color:   linear-gradient(#343333 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(52, 51, 51, 0.9), rgba(255,255,255,0));
}
.emp-box-default .emp-box-header {
    -fx-background-color: rgba(29, 28, 28, 0.9);
}



.emp-box-blue{

}
.emp-box-green {

}
.emp-box-default {

}

.emp-box-group-icon {
    -fx-fill:#bbb74b;
}

.emp-box-circle {
    -fx-background-radius:50;
}
.emp-box-circle-red{
    -fx-background-color:#f92a2a;
}
.emp-box-circle-green {
    -fx-background-color:#00ff2a;
}
.emp-box-circle-default{
    -fx-background-color:#fff;
}


.emp-box-btn-icon {
    -fx-fill: #969696
}

.emp-box-btn{
    -fx-background-color: #4a4a4a;
    -fx-background-radius:5;
}
.emp-box-btn:hover {
    -fx-background-color:#fff;
}

.emp-box-btn:hover .emp-box-btn-icon{
    -fx-fill:#302e2e
}

/* tasks layout styles */

.tasks-thead {
    -fx-text-fill:#509be8;
    -fx-font-weight:bold;
    -fx-font-size:14;
}

.tasks-thead-icon-group {
    -fx-fill:#bbb74b;
}

.tasks-thead-icon-type {
    -fx-fill: #29b95d;
}

.tasks-thead-icon-details {
    -fx-fill:#d3d3d3;
}

/* filter buttons styles */
.filter-toggle {
    -jfx-untoggle-line-color: #999999;
    -jfx-untoggle-color: #FAFAFA;
}
.filter-toggle-red {
    -jfx-toggle-color: #d82806;
    -jfx-toggle-line-color: #981f06;
}
.filter-toggle-turqo {
    -jfx-toggle-color: #009688;
    -jfx-toggle-line-color: #77C2BB;
}
.filter-combo-box {

}

/* popup user calendar styles */
.profile-details-container {
    -fx-background-color:#2f2e2e;
    -fx-padding:5;
}

.profile-details-name {
    -fx-font-weight:bold;
    -fx-font-size:20;
    -fx-text-fill:#d3d3d3;
}

.profile-details-data {
    -fx-font-size:12;
    -fx-text-fill:#d3d3d3;
}

.plan-table-thead{
    -fx-font-size:12;
    -fx-font-weight:bold;
    -fx-text-fill: #8d8d8d;
}

.plan-table-tr > .label{
    -fx-font-weight:normal;
    -fx-text-fill: #7f7f7f;
}
.plan-table-tr-tamam{
    -fx-background-color: #e6e6e6;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #a0a0a0;
}
.plan-table-tr-bekleyen {
    -fx-background-color: #fff;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #b1b1b1;

}
.plan-table-tr-aktif{
    -fx-background-color: #caeaae;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #98aa89;
}
.plan-table-tr-iptal {
    -fx-background-color: #f4bcbc;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #b28d8d;
}
.plan-table-tr-yarim {
    -fx-background-color: #ffe8e8;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #ffa5a5;
}

.plan-table-tr-form {
    -fx-background-color: #6482e0;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #273960;
}

.plan-table-header{
    -fx-padding: 10 0 10 10;
    -fx-font-weight: bold;
    -fx-background-color:#ffffff;
    -fx-border-width: 2 0 0 0;
    -fx-border-color: #c35757;
}
.plan-table-btn {
    -fx-background-color: transparent;
}

.plan-combo-box .cell{
    -fx-font-size:20;
    -fx-text-fill:#fff;
    -fx-background-color: #343333;
}
.plan-data-row {
    /*-fx-background-color:#3e3e3e;*/
    -fx-background-color:   linear-gradient(#38424b 0%, #1f2429 20%, #2b3237 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(70, 70, 70, 0.9), rgba(23,23,23,0));
}

.task-btn {
    -fx-padding:10;
}

.plan-data-row .ico-calendar {
    -fx-fill:#ffd200;
}
.plan-data-row  .ico-edit {
    -fx-fill:#cfcfcf;
}
.plan-data-row .ico-users {
    -fx-fill:#42aafb;
}
.plan-data-row .label {
    -fx-text-fill:#fff;
    -fx-font-weight:bold;
    -fx-font-size:13;
}


.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color:#242424;
}
.tab-pane {
    -fx-tab-min-height:35px;
    -fx-tab-max-height:35px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill:#272727;
}

.tab {
    -fx-font-size: 12;
    -fx-background-color:#7b3275;
    -fx-cursor:hand;
}

.tab-pane .tab-header-area {
    -fx-padding:0;
}

.tab .tab-label{
    -fx-padding:10 15;
    -fx-text-fill:#fff;
    -fx-font-weight:bold;
}
.tab:selected {
    -fx-background-color:#302e2e;
    -fx-cursor:default;

}
.tab:selected .tab-label{

}

.task-sub-item-completed{
    -fx-background-color:   linear-gradient(#2a2828 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 80% 0%, radius 100%, rgba(23, 47, 27, 0.9), rgba(255,255,255,0));
}
.task-sub-item-canceled{
    -fx-background-color:   linear-gradient(#2a2828 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 80% 0%, radius 100%, rgba(51, 15, 0, 0.9), rgba(255,255,255,0));
}
.task-sub-item-active{
    -fx-background-color:   linear-gradient(#2a2828 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 80% 0%, radius 100%, rgba(46, 48, 9, 0.9), rgba(255,255,255,0));
}

/* custom data box */
.custom-box {
    -fx-background-radius:0 0 4 4;
}
.custom-box-dark {
    -fx-background-color: #201e1e;
}
.custom-box-dark:hover {
    -fx-background-color: #000000;
    -fx-cursor:hand;
}
.custom-box-dark .custom-box-header {
    -fx-background-color:   linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(32, 30, 30, 0.9), rgba(255,255,255,0));
}
.custom-box-dark .custom-box-header .label {
    -fx-font-size:12;
}
.custom-box-dark .label {
    -fx-text-fill:#fff;
    -fx-font-size:11;
}
.custom-box-dark .ico-yellow {
    -fx-fill: #ffd835;
}
.custom-box-dark .ico-green {
    -fx-fill: #2dd327;
}
.custom-box-dark .ico-orange {
    -fx-fill: #ff8750;
}
.custom-box-dark .ico-gray {
    -fx-fill: #757373;
}

.red-spinner {
    -fx-progress-color:#dd2b00;
    -fx-padding: 0 0 -16 0;
}
.red-spinner .percentage {
    -fx-fill:null;
    -fx-font-weight:bold;
}

.green-spinner {
    -fx-progress-color:#0F9D58;
    -fx-padding: 0 0 -16 0;
}
.green-spinner .percentage {
    -fx-fill:null;
    -fx-font-weight:bold;

}

.yellow-spinner {
    -fx-progress-color:#d7d000;
    -fx-padding: 0 0 -16 0;
}
.yellow-spinner .percentage {
    -fx-fill:null;
    -fx-font-weight:bold;
}

/*
.jfx-spinner:determinate.yellow-spinner .arc{
    -fx-stroke: #d7d000;
}
.jfx-spinner:determinate.yellow-spinner .percentage{
    -fx-stroke: #d7d000;
}

.jfx-spinner:determinate.red-spinner .arc{
    -fx-stroke: #dd2b00;
}
.jfx-spinner:determinate.red-spinner .percentage{
    -fx-stroke: #dd2b00;
}

.jfx-spinner:determinate.green-spinner .percentage{
    -fx-stroke: #0F9D58;
}
.jfx-spinner:determinate.green-spinner .percentage{
    -fx-stroke: #0F9D58;
}
*/